
.options {   
    display: flex;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.question{
    margin-left: 20px;
    gap: 20px;
    float: left;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
}
.buttonWrapper{
    cursor: pointer;
}
.button{
    background: #faebd7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    padding: 10px;
    color: black;
}
.label{
    float: left;
}
