.App {
  background-color: antiquewhite;
  min-height: 100vh;
  width: 170vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 4px;
}
.input {
  margin-left: 25px;
}
.btn{
  position: relative;
  text-align: center;
  cursor: pointer;
}
